* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


:root {
    --blue: #345ff6;
    --gunmetal: #253347;
    --darkElectricBlue: #5E6E85;
    --borders: #D8E2E7;
    --pureWhite: #ffffff;
}
  
@font-face {
    font-family: "Hanken Grotesk";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype"); 
}

h1 {
    font-size: 64px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -3.2px;
    color: var(--gunmetal);

}

h2 {
    font-size: 48px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2.4px;
    color: var(--gunmetal);

}

h3{
    font-size: 24px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    letter-spacing: -1.2px;
    color: var(--gunmetal);

}

h4 {
    font-size: 20px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--gunmetal);

}

.bodyM {
    font-size: 16px;
    font-family: "Hanken Grotesk";
    line-height: 150%;
    color: var(--gunmetal);

}

.bodyMBold {
    font-size: 16px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    line-height: 150%;
    color: var(--gunmetal);

}

.bodyS {
    font-size: 14px;
    font-family: Inter;
    line-height: 150%;
    color: var(--gunmetal);
}

/* Default mobile styles */
#head {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#logoHead {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin: 24px;
}

.definitionContainer {
    background: linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    border-radius: 0px 0px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 640px;
  

}

.definitionContainer p{
    align-self: stretch;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    color: #5E6E85;
    align-self: stretch;
   
}

.definitionContainer h1{
    text-align: center;
    align-self: stretch;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}



.calculatorContainer {
    display: flex;
    width: 328px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    margin-top: -116px;
  
    
}   

.metricsystemContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.toggleContainerMetric {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
}

.toggleContainerImperial {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
}

#metricInputCircle{
    width: 31px;
    height: 31px;
    border-radius: 31px;
    border: 1px solid #D8E2E7;
    background: #ffffff;
}
#imperialInputCircle{
    width: 31px;
    height: 31px;
    border-radius: 31px;
    border: 1px solid #D8E2E7;
    background: #ffffff;
    padding: 9px;
}

.metricsystemContainer div input[type="radio"] {
    display: none;
}

.metricsystemContainer div label {
    font-size: 16px;
    font-family: "Hanken Grotesk";
    font-weight: 600;
    line-height: 150%;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
   

}

.metricsystemContainer div input[type="radio"]:checked + label {
    border: #345FF626;
    box-shadow: inset 0 0 0 10px #345FF6;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .div {
        background-color: blue;
    }
}

@media (min-width: 1024px) {
    .div {
        background-color: yellow;
    }
}

