* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --blue: #345ff6;
  --gunmetal: #253347;
  --darkElectricBlue: #5e6e85;
  --borders: #d8e2e7;
  --pureWhite: #ffffff;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/Inter-VariableFont_slntwght.ttf) format("truetype");
}

h1 {
  font-size: 64px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3.2px;
  color: var(--gunmetal);
}

h2 {
  font-size: 48px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2.4px;
  color: var(--gunmetal);
}

h3 {
  font-size: 24px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  letter-spacing: -1.2px;
  color: var(--gunmetal);
}

h4 {
  font-size: 20px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  color: var(--gunmetal);
}

.bodyM {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 150%;
  color: var(--gunmetal);
  text-align: center;
}

.bodyMBold {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  line-height: 150%;
  color: var(--gunmetal);
}

.bodyS {
  font-size: 14px;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 150%;
  color: var(--gunmetal);
}

/* Default mobile styles */
#head {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
}

#logoHead {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin: 24px;
}

.definitionContainer {
  background: linear-gradient(315deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 740px;
}

.definitionContainer p {
  align-self: stretch;
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 24px;
  color: #5e6e85;
  align-self: stretch;
}

.definitionContainer h1 {
  text-align: center;
  align-self: stretch;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}

.calculatorContainer {
  display: flex;
  width: 328px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  margin-top: -172px;
}

.metricsystemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.toggleContainerMetric {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;
}

.toggleContainerImperial {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: space-between;
}

#metricInputCircle {
  width: 31px;
  height: 31px;
  border-radius: 31px;
  border: 1px solid #d8e2e7;
  background: #ffffff;
}
#imperialInputCircle {
  width: 31px;
  height: 31px;
  border-radius: 31px;
  border: 1px solid #d8e2e7;
  background: #ffffff;
  padding: 9px;
}

.metricsystemContainer div input[type="radio"] {
  border: #345ff626;
}

.metricsystemContainer div label {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  line-height: 150%;
  padding: 9px;
  display: block;
  cursor: pointer;
}

.parameters {
  width: 280px;
}

.heightInput {
  display: flex;
  flex-direction: column;
}

.heightInput p {
  color: #5e6e85;
  font-size: 14px;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
  padding: 5px;
}

.heightInput input {
  height: 69px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  background: var(--pure-white);
}

.weightInput {
  display: flex;
  flex-direction: column;
}

.weightInput p {
  color: #5e6e85;
  font-size: 14px;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.weightInput input {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  background: var(--pure-white);
}

#WeightInputElement {
  height: 69px;
}

.result {
  height: 257px;
  border-radius: 16px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 24px;
}

.resultContainer {
  margin: 32px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.resultContainer p {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
#BMI {
  color: var(--pureWhite);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
  letter-spacing: -2.4px;
}

#resultParagraph {
  color: var(--pureWhite);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

#resultParagraph span {
  font-weight: 600;
}

.blueText {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  margin: -46px;
  color: #345ff6;
}

.inputContainer {
  display: flex;
  align-items: center;
}

#HeightInputElement {
  color: var(--Gunmetal);

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;
}

#WeightInputElement {
  color: var(--Gunmetal);
  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;
}

::placeholder {
  color: var(--gunmetal);
  align-items: center;

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  opacity: 0.25;
}

.hidden {
  display: none;
}

#HeightInputElementFt {
  color: var(--Gunmetal);

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;

  width: 132px;
}

#HeightInputElementIn {
  color: var(--Gunmetal);

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;

  margin-left: 98px;

  width: 132px;
}

#WeightInputElementSt {
  color: var(--gunmetal);

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;

  width: 132px;
}

#WeightInputElementLb {
  color: var(--gunmetal);

  /* Heading M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  padding: 22px;

  margin-left: 98px;

  width: 132px;
}

svg {
  overflow: visible;
}
/* Define default styles for the SVG icons */
.circleContainer {
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.circleContainer .metricCircleOuter,
.circleContainer .imperialCircleOuter {
  fill: white;
  stroke: #d8e2e7;
  transition: stroke 0.2s;
}

.circleContainer .metricCircleInner,
.circleContainer .imperialCircleInner {
  width: 15px;
  height: 15px;
  fill: white;
  transition: fill 0.2s;
}

/* Define styles for the hover state of the inner and outer circles */
.circleContainer:hover .metricCircleOuter,
.circleContainer:hover .imperialCircleOuter {
  stroke: #345ff6; /* Outer circle color on hover */
}

/* Define styles for the active state of the inner and outer circles */
.circleContainer.active .metricCircleOuter,
.circleContainer.active .imperialCircleOuter {
  fill: #345ff6; /* Outer circle color on active */
  fill-opacity: 0.15; /* Outer circle opacity on active */
}

.circleContainer.active .metricCircleInner,
.circleContainer.active .imperialCircleInner {
  fill: #345ff6; /* Inner circle color on active */
}

#manEating {
  width: 311.17px;
  margin-top: 64px;
}

article {
  width: 328px;
  margin-top: 42px;
}

article h3 {
  align-self: stretch;
  color: var(--Gunmetal);
  font-family: "Hanken Grotesk", sans-serif;

  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 35.2px */
  letter-spacing: -1.6px;
}



article p {
  align-self: stretch;
  color: var(--darkElectricBlue);

  /* Body M */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 48px;
}

@media (min-width: 768px) {
  .div {
    background-color: blue;
  }
}

@media (min-width: 1024px) {
  .div {
    background-color: yellow;
  }
}
